<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>SUCCESS</title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
			crossorigin="anonymous"
		/>
		<style>
			body {
				background-color: rgb(243, 243, 243);
			}
			.main-menu {
				background-color: white;
			}
		</style>
	</head>
	<body>
		<div
			class="card position-absolute top-50 start-50 translate-middle border border-2 rounded w-50 main-menu"
		>
			<h5 class="card-header">Data Telah Ditambahkan!</h5>
			<div class="card-body">
				<h5 class="card-title">
					Selamat, Data yang anda kirim sudah ditambahkan!
				</h5>
				<p class="card-text">
					Silahkan untuk kembali ke menu Database atau kembali menambahkan bata
					baru!
				</p>
				<div class="position-relative">
					<a class="btn btn-primary mb-2 mt-2" href="/home" role="button"
						>Halaman Utama</a
					>
					<a
						class="btn btn-primary mb-2 mt-2 position-absolute top-0 end-0"
						href="./addData"
						role="button"
						>Tambah Data</a
					>
				</div>
			</div>
		</div>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
			crossorigin="anonymous"
		></script>
	</body>
</html>
